# This is an example of the environment secrets file you need to create:
# create a file with the same structure, and then source and export it as per the lab
#### NOTE: DO NOT COMMIT YOUR VERSION OF THIS FILE TO GIT ####

# Django internal:
DEBUG="TRUE" # Make sure to disable this in production
SECRET_KEY="myextremelysecretkey123!"  # Make sure to change this in production

# Email user for sending password resets
EMAIL_HOST_USER="your.email@gmail.com"
EMAIL_HOST_PASSWORD="your gmail app password"

# DATABASE:
DATABASE_URL="sqlite:///db.sqlite3" # Make sure to update this in production to use the EXTERNAL DB in Render.com, e.g.:
# DATABASE_URL="postgres://username:pass@hostname.region.render.com/db_name"

# Admin User:
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASSWORD="mysecretadminpassword321!" # Make sure to update this in production

# Render hostname for ALLOWED_HOSTS (only needed on prod), e.g.:
# RENDER_HOSTNAME="your-instance.onrender.com"
